<td><%= gift_card.card_number %></td>
<td><%= gift_card.balance %></td>
<td><%= gift_card.formatted_expiry %></td>
<% params = request.query_parameters %>
<td><%= link_to "Edit", edit_gift_card_path({id: encrypt_data(gift_card.id), page: params[:page], search: params[:search], direction: params[:direction]}),{class: "btn btn-primary", remote: true, 'data-toggle' =>  "modal", 'data-target' => '#editGiftCard'} %></td>