.common-wrap{
  margin-top: 50px;
}

.redeem-btn{
  text-align: right;
  //float: right;
}

@media(min-width: 760px){
  .redeem-btn{
  //  margin-top: 30px;
  }
}

.marg-btn{
  margin-left: 18px;
  padding-bottom: 50px;
}

.data-tables{
  margin-top: 15px;
}

.required-field{
  color: #E41C39;
}


.card-title{
  font-weight: 300;
  margin-top: 0px;
    padding-bottom: 10px;
}
