.validate-outer{
  height: calc(100vh - 90px);
  display: flex;
  .authform{
    margin: auto;
    min-width: 320px;
  }
  form{
        background: rgba(225, 225, 225, .5);
        border:none;
  }
  .center{
    .btn{
      margin: 5px;
    }
  }
}
